// Limpeza agressiva: Apaga os arquivos temporários do work/ assim que o processo termina
cleanup = true

// Habilita o Docker e ajusta as permissões para o seu usuário local
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

// Tolerância a falhas: se um processo isolado falhar por pico de recurso, ele ignora ou tenta de novo
process {
    maxRetries = 1
    errorStrategy = 'ignore'
}

// Limites Globais Maximizados
params {
    max_cpus   = 4        
    max_memory = '14.GB'  
    max_time   = '12.h'   
}
