// Limpeza automática do diretório work/ para economizar armazenamento (ESSENCIAL para seus 32GB)
cleanup = true

// Habilita o Docker por padrão
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

// Trava o uso máximo de recursos para não derrubar o GitHub Codespaces
process {
    maxRetries = 1
    errorStrategy = 'ignore'
}

// Limites globais de recursos interpretados pelo nf-core
params {
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '2.h'
}
