// Roteia o diretório de trabalho para a partição /tmp do Codespace
workDir = '/tmp/nextflow_work'

// Limpeza agressiva: Apaga os arquivos temporários do work/ assim que o processo termina
cleanup = true

// Habilita o Docker e ajusta as permissões para o seu usuário local
docker.enabled = true
docker.runOptions = '-u $(id -u):$(id -g)'

// Tolerância a falhas: se um processo isolado falhar por pico de recurso, ele ignora ou tenta de novo
process {
    maxRetries = 1
    errorStrategy = 'ignore'
}

// Limites Globais Maximizados
params {
    max_cpus   = 4        // Usa todos os 4 núcleos disponíveis para paralelismo
    max_memory = '14.GB'  // Deixa 2 GB de folga vital para o host e o Docker respirarem
    max_time   = '12.h'   // Tempo de sobra para a execução
}
